<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cordova.handpointplugin"
    version="0.1.0">

    <name>HandPoint Android Plugin</name>
    <description>HandPoint Android Plugin</description>
    <license>Apache 2.0</license>
    <keywords>handpoint, BLE, arduino</keywords>


    <engines>
        <engine name="cordova" version=">=2.9.0" />
    </engines>

    <js-module src="www/handpoint.js" name="HandPointPlugin">
        <clobbers target="com.cordova.handpointplugin" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="HandPointPlugin">
                <param name="android-package" value="com.cordova.handpointplugin.HandPointPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/cordova/HandPointPlugin.java"
            target-dir="src/com/cordova/handpointplugin"/>

		<source-file src="src/android/libs/hapi-android-3.2.5.jar"
                target-dir="libs" />
        <source-file src="src/android/libs/hapi-android-3.2.5-javadoc.jar"
                target-dir="libs" />
				
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

    </platform>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>
</plugin>